---

import Container from '@components/ui/Container.astro';
import Paragraph from '@components/ui/Paragraph.astro'; 
import Title from '@components/ui/Title.astro';
import Card from '@components/ui/Card.astro'; // Importa el nuevo componente

// Asegúrate que las rutas a las imágenes sean correctas según tu estructura (public/ o src/assets)
// Ejemplo asumiendo que están en public/assets/projects y public/icons
const projects = [
  {
    title: 'Tienda Virtual',
    description: 'Tienda virtual demonstrativa con login, carrito de compras y pasarela de pagos con Nextjs, Typescript, Sanity y Stripe.',
    link: 'https://youtu.be/wXUnz03lKg4', // enlace al video 
    text: 'Ver Demo', // Texto más descriptivo
    icon: '/icons/white-github.png', // para el repo de Github  
    iconDescription: 'github', // Descripción del icono para accesibilidad
    image: '/projects/mitienda.png',
    repoUrl:'https://github.com/lucianesd/mi-tienda-app'
  },
  {
    title: 'Ruca Services',
    description: 'Pagina web del cliente Ruca Services, creada con Astro, Typescript, Tailwind CSS y integrada con WhatsApp.',
    link: 'https://rucaservices.com.ar/',
    text: 'Visitar Sitio', // Texto más descriptivo
    icon: '/icons/white-www.png',
    iconDescription: 'página web',
    image: '/images/rucaservices.webp',
    repoUrl: 'https://rucaservices.com.ar/',
  },
  {
    title: 'Azanza Administraciones',
    description: 'Página web creada en Wordpress de administración de barrios y condominios para el cliente Azanza Administraciones.',
    link: 'https://azanza.com.ar', // Corregido el enlace 'hhttps://' -> 'https://'
    text: 'Visitar Sitio', // Texto más descriptivo
    icon: '/icons/white-www.png',
    image: '/projects/azanza.jpg', // Asegúrate que la extensión sea .jpg o .png según el archivo real
    iconDescription: 'página web',
    repoUrl: 'https://azanza.com.ar',
  }
];
---

<section class="relative overflow-hidden text-white ">
  <Container className="px-5 pt-16">
    <div class="text-center mb-12 md:mb-16">
      <Title className="text-blue-400 mb-4">
        Mis Últimos Proyectos
      </Title>
      <Paragraph className="text-lg text-gray-400 max-w-3xl mx-4 md:mx-auto">
        A seguir, algunos de mis trabajos más recientes.
      </Paragraph>
    </div>

    {/* Grid de Proyectos */}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
      {projects.map((project) => (       
        <Card
          title={project.title}
          description={project.description}
          link={project.link}      
          text={project.text}
          icon={project.icon}
          iconDescription={project.iconDescription}
          image={project.image}
          repoUrl={project.repoUrl} 
          className='mx-1'
        />
      ))}
    </div>
  </Container>
</section>


{/*
import { projects } from 'src/data/constants';*/}